* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fbfbfb;
  --black: #000;
  --black1: #333333;
  --black2: #404040;
  --black3: #868686;
  --white: #fff;
  --gray1: #646464;
  --gray2: #a5a5a5;
  --gray3: #dad8db;
  --primary: #f8af11;
  --secondary: #0c38c2;
  --dark-blue: #1b337a;
  --padding-sides: 4%;
}

body {
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
  max-width: 1920px;
  margin: auto;
}

li {
  list-style: none;
}

button {
  color: inherit;
}

html:lang(ta) .landing .container .content h1 {
  font-size: 60px;
  line-height: 1.3em;
}
html:lang(ta) .landing .container .content p,
html:lang(ta) .landing .container .content button {
  font-size: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 var(--padding-sides);
  height: 150px;
  padding-bottom: 35px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.49) 9.88%, #dcdcdc 100%);
}
header * {
  z-index: 3;
}
header .logo {
  flex: 1;
  cursor: pointer;
}
header .logo h1 {
  font-size: 30px;
  font-weight: 600;
  color: rgb(24, 86, 255);
}
header .ham {
  width: 30px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  display: none;
  opacity: 0;
  height: 0;
}
header .ham span {
  width: 100%;
  height: 3px;
  margin-bottom: 6px;
  border-radius: 10px;
  background-color: white;
  transition: 0.3s ease-in-out;
}
header .ham span:nth-child(1) {
  width: 50%;
}
header .ham span:nth-child(2) {
  width: 75%;
}
header .ham span:nth-child(3) {
  width: 100%;
  margin-bottom: 0;
}
header .info {
  display: flex;
  gap: 30px;
  justify-content: center;
  position: relative;
}
header .info .whatsapp {
  font-size: 28px;
  word-break: keep-all;
  white-space: nowrap;
  font-weight: 700;
  margin-right: 60px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--black1);
}
header .info .whatsapp svg {
  width: 60px;
  height: 60px;
  color: #25d366;
}
header .info li {
  display: flex;
  gap: 10px;
}
header .info li svg {
  min-width: 40px;
  width: 40px;
  height: 40px;
  color: var(--primary);
}
header .info li .content {
  color: var(--white);
}
header .info li .content span {
  font-size: 14px;
  color: var(--gray2);
}
header .info li .content p {
  font-size: 18px;
  font-weight: 600;
  min-width: 240px;
  max-width: 300px;
}
header .links {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
header .links ul {
  display: flex;
  background-color: var(--bg-color);
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
header .links ul li {
  padding: 20px 30px;
  cursor: pointer;
  position: relative;
  color: var(--gray1);
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  white-space: nowrap;
}
header .links ul li::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: top left;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
header .links ul li:hover {
  color: var(--black);
}
header .links ul li:hover::before {
  opacity: 1;
  width: 50%;
}
header .links ul li:last-child {
  background-color: var(--primary);
  color: var(--white) !important;
  border-radius: 0 4px 4px 0;
  transition: opacity 0.2s ease-in-out;
}
header .links ul li:last-child:hover {
  opacity: 0.8;
}
header .links ul li:not(:last-child):not(:nth-last-child(2))::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 40%;
  border-radius: 4px;
  background-color: var(--gray2);
}
header .locale {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: uppercase;
}
header .locale.open .btn {
  border-radius: 4px 0 0 0;
}
header .locale.open .options {
  height: auto;
  opacity: 1;
  pointer-events: initial;
}
header .locale .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: var(--white);
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}
header .locale .btn svg {
  width: 15px;
}
header .locale .options {
  background-color: white;
  text-align: center;
  border-radius: 0 0 4px 4px;
  cursor: default;
  height: 0;
  opacity: 0;
  pointer-events: none;
}
header .locale .options li {
  border-top: 1px solid var(--gray3);
  padding: 5px 10px;
}
header .locale .options:hover {
  background-color: var(--gray3);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.landing {
  position: relative;
  padding: 0 var(--padding-sides);
}
.landing .bg-block {
  position: absolute;
  z-index: 1;
  top: -150px;
  right: 0;
  width: 100%;
  height: calc(100% + 150px + 90px);
  background: linear-gradient(180deg, #00124b 0%, #0d3bc9 100%);
  -webkit-clip-path: polygon(calc(100% - var(--padding-sides) - 700px) 0, 100% 0%, 100% 100%, calc(70% - var(--padding-sides) - 700px) 100%);
          clip-path: polygon(calc(100% - var(--padding-sides) - 700px) 0, 100% 0%, 100% 100%, calc(70% - var(--padding-sides) - 700px) 100%);
  transition: 0.3s ease;
}
.landing .container {
  width: 100%;
  margin: auto;
  z-index: 2;
  position: relative;
  background-color: var(--gray1);
  height: 70vh;
  max-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .container .swiper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.landing .container .swiper-slide {
  width: 100%;
  height: 100%;
}
.landing .container .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
}
.landing .container .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing .container .swiper-nav {
  --swiper-navigation-size: 35px;
  --swiper-navigation-color: var(--white);
  --swiper-navigation-sides-offset: 25px;
  opacity: 0.8;
}
.landing .container .swiper-pagination {
  bottom: -45px;
  z-index: 10;
}
.landing .container .swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0;
  width: 10px;
  height: 10px;
  opacity: 1;
}
.landing .container .swiper-pagination-bullet-active {
  background-color: var(--primary);
  border-color: var(--primary);
}
.landing .container .content {
  position: relative;
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  max-width: calc(1200px + var(--padding-sides) * 2);
  margin: auto;
  padding: 100px var(--padding-sides);
}
.landing .container .content h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 1em;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
}
.landing .container .content p {
  font-size: 22px;
  color: var(--gray3);
}
.landing .container .content button {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 30px;
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.landing .container .content button:hover {
  opacity: 0.8;
}

.t-shadow {
  font-weight: 700;
  font-size: 30px;
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  color: var(--dark-blue);
}

.about {
  margin-top: 150px;
  display: flex;
  align-items: center;
  gap: 5%;
  width: 100%;
  justify-content: center;
  padding: var(--padding-sides);
}
.about img {
  max-width: 550px;
  min-height: 400px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .content {
  width: 550px;
  min-width: 500px;
}
.about .content h1 {
  margin-bottom: 40px;
}
.about .content h1::after {
  content: "";
  height: 4px;
  width: 20%;
  background-color: var(--primary);
  border-radius: 10px;
  display: block;
  margin-top: 8px;
}
.about .content p {
  margin-bottom: 20px;
  color: var(--black);
}

.what {
  margin-top: 60px;
  text-align: center;
  padding: var(--padding-sides);
}
.what .title p {
  color: var(--gray2);
  margin-top: 10px;
}
.what .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 100px;
}
.what .container .content {
  max-width: 400px;
}
.what .container .content .top svg {
  color: var(--gray2);
}
.what .container .content .top h3 {
  color: var(--black1);
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500px;
}
.what .container .content .top h3::after {
  content: "";
  height: 4px;
  width: 50px;
  display: block;
  margin: auto;
  background-color: var(--primary);
  border-radius: 10px;
  margin-top: 4px;
}
.what .container .content .desc {
  margin-top: 35px;
  color: var(--black2);
}
.what .container .line {
  width: 2px;
  min-width: 2px;
  height: 220px;
  display: block;
  background-color: var(--gray3);
  opacity: 0.8;
  border-radius: 10px;
}

.gallery {
  margin: 100px auto 0;
  max-width: 1500px;
  padding: 0 var(--padding-sides);
}
.gallery h1 {
  text-align: center;
}
.gallery .imgs {
  display: grid;
  --img-width: 200px;
  --img-height: 200px;
  --row: 2;
  grid-template-columns: repeat(auto-fit, minmax(var(--img-width), 1fr));
  grid-template-rows: repeat(var(--row), calc(var(--img-height) + 10px));
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-auto-rows: 0; /* set height to 0 for autogenerated grid rows */
  overflow-y: hidden;
  margin-top: 30px;
}
.gallery .imgs.more-rows {
  grid-template-rows: none;
  grid-auto-rows: var(--img-height);
}
.gallery .imgs > div {
  margin-top: 10px;
}
.gallery .imgs img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  opacity: 0;
  animation: fade-in 0.2s ease calc(var(--index) * 0.2s);
  animation-fill-mode: forwards;
}
.gallery .more-btn {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--black);
  gap: 3px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.gallery .more-btn svg {
  width: 20px;
}
.gallery .more-btn::after {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--black);
  transform-origin: left;
  transition: width 0.2s ease;
}
.gallery .more-btn:hover::after {
  width: 95%;
}
.gallery .popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.93);
  z-index: 999;
  padding: 150px var(--padding-sides);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.gallery .popup.show {
  opacity: 1;
  pointer-events: all;
}
.gallery .popup .close {
  position: absolute;
  top: var(--padding-sides);
  right: var(--padding-sides);
  width: 30px;
  cursor: pointer;
}
.gallery .popup .swiper {
  width: 100%;
  height: 100%;
}
.gallery .popup .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .popup .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 75%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);
}
.gallery .popup .swiper-nav {
  color: #000;
  cursor: pointer;
  z-index: 10;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.gallery .popup .swiper-nav .icons {
  display: flex;
}
.gallery .popup .swiper-nav .icons svg {
  width: 10px;
}
.gallery .popup .swiper-nav-prev {
  left: 0;
}
.gallery .popup .swiper-nav-next {
  right: 0;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  padding: 0 var(--padding-sides);
}
.contact .left p {
  color: var(--black3);
}
.contact .left .title {
  margin-bottom: 60px;
}
.contact .left .title h1 {
  font-weight: 700;
  font-size: 30px;
  color: var(--black1);
}
.contact .left .title p {
  margin-top: 15px;
  max-width: 500px;
}
.contact .left .content {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 40px;
}
.contact .left .content .icon {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  background-color: var(--secondary);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .left .content .icon svg {
  width: 30px;
  color: var(--white);
}
.contact .left .content .desc {
  max-width: 250px;
}
.contact .left .content .desc h4 {
  color: var(--black);
  font-size: 18px;
  font-weight: 600px;
  margin-bottom: 10px;
}
.contact .right {
  max-width: 500px;
  width: 100%;
  background-color: var(--secondary);
  border-radius: 4px;
  padding: 50px 25px 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact .right input,
.contact .right textarea,
.contact .right button {
  border: none;
  border-radius: 4px;
  padding: 20px 25px;
  background-color: var(--white);
  font-family: inherit;
  width: 100%;
  font-size: 16px;
  outline: none;
}
.contact .right textarea {
  resize: vertical;
  min-height: 150px;
}
.contact .right button {
  background-color: var(--primary);
  font-weight: 600;
  color: var(--white);
  margin-top: 20px;
  cursor: pointer;
}

footer {
  margin: 80px auto 20px;
  text-align: center;
  padding: 0 var(--padding-sides);
  color: var(--black2);
  font-weight: 500;
}
footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.loading .loader-container {
  display: flex;
}

.loader-container {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000000000000;
  display: none;
}
.loader-container .loader {
  width: 50px;
  height: 50px;
  border: double 2px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top, rgb(94, 94, 94) 30%, rgba(0, 0, 0, 0.151) 70%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.msg {
  padding: 15px 30px;
  border-radius: 8px;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  background-color: #137016;
  color: white;
  z-index: 1000000000000000000000;
}
.msg.hide {
  transition: 0s ease-in-out;
  opacity: 0;
  top: 0;
}
.msg.err {
  background-color: rgb(184, 43, 43);
}

.upload {
  padding: 50px var(--padding-sides);
}
.upload.logged .login {
  display: none;
}
.upload.logged .page {
  display: initial;
}
.upload .login input {
  width: 200px;
  font-size: 16px;
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 50px;
}
.upload .login button {
  display: block;
  width: 200px;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.upload .login button:hover, .upload .login button:disabled {
  opacity: 0.7;
}
.upload .page {
  text-align: center;
  display: none;
}
.upload .page .cloudinary-button {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 400px;
}
.upload .page .gallery .imgs > div {
  position: relative;
}
.upload .page .gallery .imgs > div img {
  -o-object-fit: contain;
     object-fit: contain;
}
.upload .page .gallery .imgs button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #000;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.upload .page .gallery .imgs button:hover, .upload .page .gallery .imgs button:disabled {
  opacity: 0.7;
}
.upload .page .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999999999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.upload .page .popup.show {
  opacity: 1;
  pointer-events: initial;
}
.upload .page .popup .trans-bg {
  background-color: rgba(0, 0, 0, 0.692);
  width: 100%;
  height: 100%;
}
.upload .page .popup .content {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--padding-sides) * 2);
  max-width: 400px;
  padding: 20px;
  border-radius: 4px;
}
.upload .page .popup .content h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.upload .page .popup .content img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.upload .page .popup .content .btns {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upload .page .popup .content .btns button {
  border-radius: 4px;
  border: 1px solid black;
  background-color: black;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.upload .page .popup .content .btns button.close {
  background-color: transparent;
  color: #000;
}
.upload .page .popup .content .btns button:hover, .upload .page .popup .content .btns button:disabled {
  opacity: 0.6;
}

@media (max-width: 1600px) {
  header .info .whatsapp {
    font-size: 20px;
  }
  header .info .whatsapp svg {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 1450px) {
  header {
    height: 100px;
    padding-bottom: 0;
  }
  header .logo svg {
    width: 200px;
    height: auto;
  }
  header .info {
    display: none;
    opacity: 0;
  }
  .landing .bg-block {
    top: -100px;
    height: calc(100% + 100px + 60px);
    -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 10% 100%);
            clip-path: polygon(50% 0, 100% 0%, 100% 100%, 10% 100%);
  }
  .landing .container .swiper-pagination {
    bottom: -33px;
  }
  .what .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-top: 60px;
  }
  .what .container .content {
    max-width: 600px;
    flex: 40%;
  }
  .what .container .content .top svg {
    width: 40px;
    height: 40px;
  }
  .what .container .content .top h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  .what .container .content .desc {
    margin-top: 20px;
  }
  .what .container .line {
    display: none;
  }
}
@media (max-width: 1000px) {
  html:lang(ta) .landing .container .content h1 {
    font-size: 40px;
  }
  html:lang(ta) .landing .container .content p,
  html:lang(ta) .landing .container .content button {
    font-size: 18px;
  }
  header .links {
    display: none;
    opacity: 0;
  }
  header .ham {
    height: auto;
    display: flex;
    opacity: 1;
    pointer-events: initial;
  }
  header .locale {
    right: 0px;
    top: -2px;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);
  }
  header .locale .btn {
    border-radius: 4px;
    padding: 0px 5px;
  }
  .landing .bg-block {
    -webkit-clip-path: polygon(75% 0, 100% 0%, 100% 100%, 5% 100%);
            clip-path: polygon(75% 0, 100% 0%, 100% 100%, 5% 100%);
  }
  .landing .container .swiper-nav {
    display: none;
  }
  .landing .container .content {
    gap: 30px;
  }
  .landing .container .content h1 {
    font-size: 50px;
  }
  .landing .container .content p,
  .landing .container .content button {
    font-size: 18px;
  }
  .ham-open {
    overflow: hidden;
  }
  .ham-open .ham span {
    transform-origin: left center;
  }
  .ham-open .ham span:nth-of-type(1) {
    width: 85%;
    transform: rotate(45deg);
  }
  .ham-open .ham span:nth-of-type(2) {
    width: 0%;
  }
  .ham-open .ham span:nth-of-type(3) {
    width: 85%;
    transform: rotate(-45deg);
  }
  .ham-open header .info,
  .ham-open header .links {
    animation: fade-in 1s ease;
    opacity: 1;
    visibility: visible;
  }
  .ham-open header .info {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    padding: 0 var(--padding-sides);
    bottom: 10%;
    width: 100%;
    justify-content: flex-end;
  }
  .ham-open header .info::before {
    content: "";
    height: 1px;
    width: 80%;
    margin: 0 auto 0;
    display: block;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 10px;
  }
  .ham-open header .info .whatsapp {
    justify-content: flex-start;
    color: var(--white);
    align-items: center;
    justify-content: initial;
  }
  .ham-open header .links {
    display: block;
    position: fixed;
    top: 10%;
    left: 0;
    bottom: auto;
    width: 100%;
    transform: none;
    padding-bottom: 50px;
  }
  .ham-open header .links ul {
    background-color: transparent;
    box-shadow: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .ham-open header .links ul li {
    font-size: 18px;
    color: var(--white);
    background-color: transparent;
    padding: 10px 0;
  }
  .ham-open header .links ul li::after {
    display: none;
  }
  .ham-open header *:not(.logo) {
    z-index: 5;
  }
  .ham-open .landing .bg-block {
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
            clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
    left: 0;
    height: 100vh;
    z-index: 4;
  }
  .t-shadow {
    font-size: 25px;
  }
  .about {
    flex-direction: column;
    margin-top: 100px;
    gap: 30px;
  }
  .about img {
    min-width: 300px;
    min-height: auto;
  }
  .about .content {
    text-align: center;
    width: 100%;
    min-width: auto;
  }
  .about .content h1::after {
    margin-left: auto;
    margin-right: auto;
  }
  .gallery .popup .swiper-nav span {
    display: none;
  }
  .contact {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .contact .left .title {
    margin-bottom: 40px;
  }
  .contact .left .title p {
    max-width: none;
  }
  .contact .left .content {
    gap: 20px;
  }
  .contact .left .content .icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
  }
  .contact .left .content .icon svg {
    width: 24px;
  }
  .contact .left .content .desc {
    max-width: 300px;
  }
  .contact .right {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 600px) {
  html:lang(ta) .landing .container .content h1 {
    font-size: 35px;
  }
  html:lang(ta) .landing .container .content p,
  html:lang(ta) .landing .container .content button {
    font-size: 16px;
  }
  .landing {
    padding: 0;
  }
  .landing .container .content {
    align-items: flex-start;
    text-align: left;
    gap: 30px;
  }
  .landing .container .content h1 {
    font-size: 40px;
  }
  .landing .container .content p,
  .landing .container .content button {
    font-size: 16px;
  }
  .landing .container .content button {
    padding: 15px 20px;
  }
  .about .content {
    text-align: left;
  }
  .about .content h1::after {
    margin-left: 0;
    margin-right: 0;
  }
  .what {
    text-align: left;
  }
  .what .container {
    flex-direction: column;
  }
  .what .container .content {
    flex: 1;
  }
  .what .container .content .top svg {
    margin-left: 20px;
  }
  .what .container .content .top h3::after {
    margin-left: 0;
    margin-right: 0;
  }
  .gallery .imgs {
    --img-width: 150px;
    --row: 3;
  }
  footer {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */